* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all .9s ease;
  list-style: none;
}
* button {
  cursor: pointer;
}
:root {
  --clrBgDark: #002D62;   
  --clrSecondTxt: #FFD700; 
  --clrHover: #D90429;    
  --clrBg: #F9F9F9;
  --clrTxtDark: #1C1C1C;
  --clrTxtLight: #FFFFFF;

}

header {
  width: 100%;
  position: relative;
}
.topBar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 36px;
  background: var(--clrBg);
  align-items: center;
}
.topBar p {
  color: var(--clrTxtDark);
  display: flex;
  align-items: center;
  gap: 10px;
}
.topBar span {
  color: var(--clrHover);
}
nav.nav {
  position: relative;
  width: 100%;
  padding: 10px 18px;
  display: grid;
  align-items: center;
  background: var(--clrBgDark);
}
nav * a {
  color: #F9F9F9;
}
nav * a:hover {
  color: #FFD700;
}
nav .col {
  display: flex;
  align-items: center;
}
nav .col:first-child {
  justify-content: center;
}
nav .logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo h2 {
  font-size: 10px;
  color: var(--clrTxtLight);
  text-transform: uppercase;
}
nav.nav .logo img {
  width: 40px;
  height: 40px;
  position: relative;
}
.navLinks {
  display: flex;
  gap: 10px;
  list-style: none;
}
.navLinks strong, .navLinks.rwdNav .linkBlock {
  display: flex;
  align-items: center;
}
.navLinks li {
  list-style: none;
  position: relative;
  cursor: pointer;
}
.navLinks > li {
  padding: 12px 0;
}
.navLinks li strong {
  position: relative;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
}
.navLinks li strong:hover {
  /* box-shadow: 0 0 4px 1px cyan; */
  border-radius: 10px;
  color: cyan;
}
ul {
  color: #F9F9F9;
}
.navLinks li ul  {
  position: absolute;
  list-style: none;
  width: 200px;
  font-size: 14px;
  padding: 2px 10px;
  left: 0;
  background-color: rgba(22, 78, 232, 0.5);
  display: flex;
  flex-direction: column;
  z-index: 6;
  visibility: hidden;
  top: 90px;
  transition: top 0.4s ease;
  opacity: 0;
  backdrop-filter: blur(4px);
}
.navLinks li:hover > ul {
  visibility: visible;
  top: 45px;
  opacity: 1;
}
.navLinks ul li {
  padding: 8px 6px;
}
.navLinks li ul li ul {
  position: absolute;
  transform: translate(190px, -45px);
  top: 0;
  z-index: 6;
}
.navLinks li ul li:not(.nesting):hover {
  background: rgba(0,0,0,.3);
  color: cyan;
}
.navLinks li ul li ul li:hover {
  background: rgba(0,0,0,.3);
  color: cyan;
  
}

/* .navLinks ul .nesting:hover > ul {
  visibility: visible;
  } */
  
  .menuBar {
    position: relative;
    align-items: center;
  }
  .menuBar .sideBarMenu {
    min-width: 320px;
    max-width: 450px;
    position: absolute;
    min-height: 100px;
    z-index: 6;
    left: -8px;
    top: 0;
    background-color: var(--clrBgDark);
  }
  .sideBarMenu .navLinks {
    display: block;
    background-color: transparent;
  }
  .sideBarMenu .navLinks li ul {
    display: none;
    visibility: hidden;
    opacity: 1;
    position: absolute;
    background-color: transparent;
    top: 10px;
  }
  .sideBarMenu .navLinks li ul li:not(.nesting):hover {
    background: var(--clrBg);
    color: var(--clrTxtDark);
  }
  .sideBarMenu .navLinks li ul li ul li:hover {
    background: var(--clrBg);
    color: var(--clrTxtDark);
  }
  .sideBarMenu .navLinks li ul li ul {
    display: none;
    visibility: hidden;
    opacity: 1;
    transform: translate(0,0);
    position: relative;
    background-color: transparent;
  }
  .sideBarMenu .navLinks li:hover > ul {
    display: block;
    position: relative;
    visibility: visible;
    opacity: 1;
  }
  .sideBarMenu.hide {
    left: -400px;
  }
  .sideBarMenu.scr {
    left: -18px;
  }
  .menuBar .menuIcon {
    font-size: 20px;
    color: var(--clrTxtLight);
    cursor: pointer;
    align-items: center;
    
  }
  .sideBarMenu .close {
    font-size: 20px;
    color: var(--clrTxtLight);
    cursor: pointer;
  }
  

main {
  position: relative;
  width: 100%;
  min-height: auto;
  background-color: var(--clrBg);
}


footer {
  min-height: 100px;
  background-color: var(--clrBgDark);
  color: var(--clrTxtLight);
}


/* topbar */
.active_top {
  position: relative;
  width: 100%;
  min-height: 140px;
  background: linear-gradient(to bottom right, #1A5950, #003d7a);
  padding: 40px 10px 40px 70px;
} 
.active_top h1{
  font-size: 36px; color: #ffffff; 
  line-height: 45px;
  font-weight: 700;
  font-style: normal; 
  font-family: 'Montserrat'; 
  margin: 20px 0;
  position: relative;
}
.active_top h1::before {
  position: absolute;
  content: '';
  width: 60px;
  height: 7px;
  background: var(--clrSecondTxt);
  bottom: -20px;
  animation: a1 2s ease-out forwards;
}
.active_top p{
  font-size: 13px; 
  color: #ccc;
}








@media (min-width: 1336px){
  nav {
    grid-template-columns: 0.4fr 1fr;
  }
  .menuBar {
    display: none;
  }
  .menuBar .menuIcon {
    display: none;
  }
}
@media (max-width: 1336px){
  nav {
    grid-template-columns: repeat(1, 1fr);
  }
  .menuBar {
    display: flex;
  }
  .menuBar .menuIcon {
    display: none;
  }
}
@media (max-width: 1024px){
  nav {
    grid-template-columns: 0.12fr 1fr;
  }
  nav .col:first-child {
    order: 4;
  }
  nav .col {
    justify-content: space-between;
  }
  .menuBar .menuIcon {
    display: flex;
  }
  .rwdNav {
    display: none;
  }
}
@media (max-width: 664px){
  .topBar {
    padding: 5px 18px;
  }
  .topBar p {
    font-size: 14px;
  }
}




























/* animations */

@keyframes a1 {
  from{
    width: 0;
  }to{
    width: 60px;
  }
}